:root {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0;
    background-color: #EBECE3;
    font-size: 2rem;;
}

.header__logo img {
    height: 50px;
}

.header__socials img {
    height: 50px;
}