:root {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}


/* =======>>> header <<<======= */
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0;
    background-color: #EBECE3;
    font-size: 2rem;
}

.header__logo img {
    height: 50px;
}

.header__socials img {
    height: 50px;
}

/* =======>>> signup <<<======= */
.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/video_bg.jpg");
    font-size: 2rem;
    color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    padding: 2rem 2.5rem;
    height: calc(100vh - 9.2rem);
    text-align: center;
}

.signup__container {
    margin-right: 20%;
}

.signup__heading {
    font-size: calc(2rem * 1.5);
    font-weight: 700;
    margin-bottom: 3rem;
}

.signup__sub-txt {
    font-weight: 300;
    margin-bottom: 3rem;
}

/* =======>>> magnets <<<======= */
.magnets {
    background-image: url("../img/second_slide_bg.jpg");
    font-size: 2rem;
    color: #383837;
    display: flex;
    flex-direction: column;
    padding: 10rem 2.5rem;
    align-items: center;
    background-position:top;
    background-repeat: no-repeat;
}

.magnets__heading {
    font-size: calc(2rem * 1.5);
    margin-bottom: 2rem;
    line-height: 1.3;
}

.magnets__container {
    line-height: 1.7;
    text-align: center;
}
.magnets__container:nth-child(1) {
    padding: 13rem 0 40rem 0;
}

.magnets__container:nth-child(2) {
    margin-right: 35%;
    color: #fff;
}

.magnets__footnote {
    color: #000;
    margin-top: 20rem;
}









